@media screen and (max-width: 640px) {
  .footer-container {
    flex-direction: column;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
    position: relative;
  }

  .footer-left,
  .footer-right {
    width: 100%;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
  }

  .footer-right {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: nowrap;
    width: 100%;
  }

  .footer-right a {
    width: 45%;
    max-width: 200px;
    text-align: center;
    margin: 0;
  }

  /* .footer-right {
    flex-direction: column;
  }  */
}